.experience_cards {
    display: grid;
    grid-template-columns: 33.33% auto auto;
    grid-template-areas: 'l r r';
    gap:20px 10px;
}

.experience_cards>.experience_timeline {
    grid-column: span 1;
    grid-area: "l";
    /* background: blue; */
}

.experience_cards>.experience_content {
    grid-column: span 2;
    grid-area: "r";
    /* background: red; */
}