.body {
    margin-top: 30px;
    grid-gap: 60px;
    display: grid;
    grid-template-columns: 33.33% auto auto;
    grid-template-areas: 'l r r';
    /* grid-template-columns: auto auto auto; */
}

.body>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.body>div:nth-child(1) {
    height: 100%;
    /* background: red; */
    grid-area: 'l';
    grid-column: span 1;
}

.body>div:nth-child(2) {
    height: 100%;
    grid-area: 'r';
    /* background: blue; */
    grid-column: span 2;
}