@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
  margin:0;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Nunito', sans-serif;
  font-size: 0.76rem;
}

*{
  box-sizing: border-box;
}

@page{
  margin:0;
  size: A4 portrait;
}

.page{
  /** A4 size : 	210 x 297 mm */
  width: 210mm;
  height:297mm;
  page-break-after: always;
  background: white;
  /** Disable to Test if size is perfect*/
  /* box-shadow: inset 0px 0px 0px 3px red; */ 
}

@media screen {
  /** will be applied only on screen i.e not while printing  */
  .page{
    margin:50px auto;
    box-shadow: 0px 0px 15px black;
  }
  body{
    background: gray;
  }
}